/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

/*FaceApi */
.faceApi {
  margin: 0;
  padding: 0;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  opacity: 0;
  z-index: -1;
}

canvas {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.chart canvas {
  opacity: 1;
  position: static;
  z-index: 1;
  width: 200px;
  height: 0px;
}

/* /////////////////////// */

.form-simple .font-small {
  font-size: 0.8rem;
}

.form-simple .header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.form-simple input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #00ccb7;
  -webkit-box-shadow: 0 1px 0 0 #00ccb7;
  box-shadow: 0 1px 0 0 #00ccb7;
}

.form-simple input[type="text"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}

.form-simple input[type="password"]:focus:not([readonly]) {
  border-bottom: 1px solid #00ccb7;
  -webkit-box-shadow: 0 1px 0 0 rgb(225, 233, 232);
  box-shadow: 0 1px 0 0 #00ccb7;
}

.form-simple input[type="password"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}

/* 
label {
  display: none;
  z-index: -1;
} */

.logIn {
  margin-top: 30px;
}

.heyUser {
  padding-top: 9px;
  font-size: 1.2rem;
  /* margin-left: 62%; */
}

.motusHeader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.plusIcon {
  align-items: right;
}

.dashCard {
  margin-bottom: 40px;
}

.addBtn {
  margin: 20px 20px 20px 82%;
}

i {
  margin: 8px;
}

.borderCard {
  border: #00ccb7;
  border-radius: 5%;
}

.videoPlayer {
  margin: 1% 1%;
}

/* CHART */

.displayPie {
  display: flex;
  justify-content: space-around;
  margin: 0 0;
  padding: 0 10px;
  width: 100vw;
}

.doughnut canvas {
  opacity: 1;
  position: relative;
  z-index: 1;
  width: 100px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.textChart {
  display: flex;
  justify-content: space-around;
}

.headingTable {
  display: flex;
  justify-content: space-around;
}
